<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <a href="/products/create">
          <button class="button is-fullwidth is-success">Agregar producto</button>
        </a>
      </div>
    </div>
    <div class="columns">
      {{#each products}}
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{this.photo}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="{{this.owner.profile.img}}" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{this.owner.profile.name}}</p>
              </div>
            </div>

            <div class="content">
              {{this.description}}

            </div>
          </div>
          <footer class="card-footer">
            <a href="/products/edit/{{this._id}}" class="card-footer-item">Edit</a>
            <a href="/products/delete/{{this._id}}" class="card-footer-item">Delete</a>
          </footer>
        </div>
      </div>
    </div>
    {{else}}
  </div>
  <div class="columns">
    <div class="column is-12">
      <p>Ni tenemos productos joven</p>
    </div>
    {{/each}}
  </div>
  </div>
  </div>
</section>